{{#if studentins}}
    <span>NOW DATE: {{date}}</span><br><br>
    <label for="date"></label><input type="date" id="date" name="date"
                                     value="{{date}}">
    <button onclick="change_date()">CHANGE</button>
    <button onclick="change_date_today()">TODAY</button>
    <br><br>
    <form action="/query/arrived/add" method="post">
        <table class="tg">
            <thead>
            <tr>
                <th class="tg-0lax">Name</th>
                <th class="tg-0lax">Number</th>
                <th class="tg-0lax">Account No.</th>
                <th class="tg-0lax">Division</th>
                <th class="tg-0lax">Remarks</th>
                <th class="tg-0lax">Status</th>
                <th class="tg-0lax">
                    <input type="submit" value="✈️ FLY.">
                </th>
            </tr>
            </thead>
            <tbody>
            {{#studentins}}
                <tr>
                    <td class="tg-0lax">{{name}}</td>
                    <td class="tg-0lax">{{num}}</td>
                    <td class="tg-0lax">{{st_id}}</td>
                    <td class="tg-0lax">{{studentin.gubun}}</td>
                    <td class="tg-0lax">{{studentin.bigo}}</td>
                    {{#if studentin.inTime}}
                        <td class="tg-0lax">{{studentin.inTime}}</td>
                        <td class="tg-0lax">
                            <a onclick="revoke('{{st_id}}')">🚮 REVOKE</a>
                        </td>
                    {{/if}}
                    {{#unless studentin.inTime}}
                        <td class="tg-0lax">NOT HERE.</td>
                        <td class="tg-0lax">
                            <label>
                                <input type="checkbox" name="student_id" value="{{st_id}}" checked> I'M
                                PASSENGER.
                            </label>
                        </td>
                    {{/unless}}
                </tr>
            {{/studentins}}
            <tr>
                <td colspan="7">
                    <a onclick="check_all()">☑ CHECK ALL</a>
                    <a onclick="uncheck_all()">☐ UNCHECK ALL</a>
                </td>
            </tr>
            </tbody>
        </table>
        <small>
            *ARMS: Arrived Record Modify System
        </small>
        <input name="class" value="{{query.grade}}" hidden>
        <input name="ban" value="{{query.ban}}" hidden>
        <input name="date" value="{{query.date}}" hidden>
    </form>
{{/if}}
{{#if error}}
    <h1>Error occurred.</h1>
    <p>
        {{error}}
    </p>
{{/if}}
<script>
    const uncheck_all = () => {
        const checkbox_array = document.getElementsByName('student_id')
        checkbox_array.forEach(each_data => {
            each_data.checked = false
        })
    }
    const check_all = () => {
        const checkbox_array = document.getElementsByName('student_id')
        checkbox_array.forEach(each_data => {
            each_data.checked = true
        })
    }
    const change_date = () => {
        const date = document.getElementById('date').value
        window.location.href = `/query/arrived?date=${date}&grade={{query.grade}}&ban={{query.ban}}`
    }
    const change_date_today = () => {
        window.location.href = `/query/arrived?grade={{query.grade}}&ban={{query.ban}}`
    }
    const revoke = (student_id) => {
        window.location.href = `/query/arrived/delete?student_id=${student_id}&date={{date}}&class={{query.grade}}&ban={{query.ban}}`
    }
</script>
