{{#if points}}
    <ul>
        <li>
            Account No.: {{query.st_id}}
        </li>
        <li>
            Name: {{student.name}}
        </li>
        <li>
            School Number: {{student.class}}-{{student.ban}}-{{student.num}}
        </li>
    </ul>
    <table class="tg">
        <thead>
        <tr>
            <th class="tg-0lax">Lot No.</th>
            <th class="tg-0lax">Creation Date</th>
            <th class="tg-0lax">Creation Time</th>
            <th class="tg-0lax">Type</th>
            <th class="tg-0lax">Item</th>
            <th class="tg-0lax">Description</th>
            <th class="tg-0lax">Point</th>
            <th class="tg-0lax">Teacher</th>
            <th class="tg-0lax">Grade</th>
            <th class="tg-0lax">MANAGE</th>
        </tr>
        </thead>
        <tbody>
        {{#points}}
            <tr>
                <th class="tg-0lax">{{key_num}}</th>
                <th class="tg-0lax">{{m_date}}<br>{{work_date}}</th>
                <th class="tg-0lax">{{m_time}}</th>
                <th class="tg-0lax">{{merit_sel}}</th>
                <th class="tg-0lax">{{merit_code}}</th>
                <th class="tg-0lax">{{merit_text}}<br>{{bigo}}</th>
                <th class="tg-0lax">{{merit_point}}</th>
                <th class="tg-0lax">{{t_id}} {{t_name}}</th>
                <th class="tg-0lax">{{class}}</th>
                <th class="tg-0lax"><a onclick="revoke_point({{key_num}})">🚮 REVOKE</a></th>
            </tr>
        {{/points}}
        </tbody>
    </table>
    <small>*PRS: Point Revoke System</small>
{{/if}}
<h2>
    Modify Tracking
</h2>
<table class="tg">
    <thead>
    <tr>
        <th class="tg-0lax">Lot No.</th>
        <th class="tg-0lax">Creation Date</th>
        <th class="tg-0lax">Creation Time</th>
        <th class="tg-0lax">Type</th>
        <th class="tg-0lax">Item</th>
        <th class="tg-0lax">Description</th>
        <th class="tg-0lax">Point</th>
        <th class="tg-0lax">Teacher</th>
        <th class="tg-0lax">Grade</th>
        <th class="tg-0lax">MANAGE</th>
    </tr>
    </thead>
    <tbody>
    {{#history}}
        <tr>
            <th class="tg-0lax">{{lot}}</th>
            <th class="tg-0lax">{{date}}<br>{{work_date}}</th>
            <th class="tg-0lax">{{time}}</th>
            <th class="tg-0lax">{{merit_sel}}</th>
            <th class="tg-0lax">{{merit_code}}</th>
            <th class="tg-0lax">{{merit_text}}<br>{{bigo}}</th>
            <th class="tg-0lax">{{merit_point}}</th>
            <th class="tg-0lax">{{t_id}} {{t_name}}</th>
            <th class="tg-0lax">{{class}}</th>
            <th class="tg-0lax"><a onclick="restore_point({{lot}})">🔙 Restore</a></th>
        </tr>
    {{/history}}
    </tbody>
</table>
{{#if error}}
    <h1>Error occurred.</h1>
    <p>
        {{error}}
    </p>
{{/if}}
<script>
    const revoke_point = (key_num) => {
        window.location.href = `/query/students/points/delete?student_id={{query.st_id}}&key_num=${key_num}`
    }
    const restore_point = (key_num) => {
        window.location.href = `/query/students/points/restore?student_id={{query.st_id}}&key_num=${key_num}`
    }
</script>
