<ul>
    <li>
        Students record
        <ul>
            {{#result}}
                <br>
                <li>
                    {{name}}
                    <br><br>Class
                    <select id="students_{{grade}}">
                        {{#bans}}
                            <option value="{{this}}">{{this}}</option>
                        {{/bans}}
                    </select> <a onclick="click_go('students_{{grade}}', 'students')">➡️</a>
                </li>
            {{/result}}
        </ul>
    </li>
    <br>
    <li>
        Arrived record
        <ul>
            {{#result}}
                <br>
                <li>
                    {{name}}
                    <br><br>Class
                    <select id="arrived_{{grade}}">
                        {{#bans}}
                            <option value="{{this}}">{{this}}</option>
                        {{/bans}}
                    </select> <a onclick="click_go('arrived_{{grade}}', 'arrived')">➡️</a>
                </li>
            {{/result}}
        </ul>
    </li>
</ul>
<script>
    const click_go = (select, link) => {
        const element = document.getElementById(select)
        const grade = select[select.length - 1]
        const ban = element.options[element.selectedIndex].value
        window.location.href = `/query/${link}?grade=${grade}&ban=${ban}`
    }
</script>
