<style>
    .tg {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
    }

    .tg td {
        border-color: black;
        border-style: solid;
        border-width: 1px;
        font-family: Arial, sans-serif;
        font-size: 14px;
        overflow: hidden;
        padding: 10px 5px;
        word-break: normal;
    }

    .tg th {
        border-color: black;
        border-style: solid;
        border-width: 1px;
        font-family: Arial, sans-serif;
        font-size: 14px;
        font-weight: normal;
        overflow: hidden;
        padding: 10px 5px;
        word-break: normal;
    }

    .tg .tg-0lax {
        text-align: left;
        vertical-align: top
    }
</style>
{{#if students}}
    <h1>
        Students ( {{query.grade}}-{{query.ban}} ) :
    </h1>
    <table class="tg">
        <thead>
        <tr>
            <th class="tg-0lax">이름</th>
            <th class="tg-0lax">번호</th>
            <th class="tg-0lax">계정부호</th>
            <th class="tg-0lax">비고</th>
            <th class="tg-0lax">Individual PRS</th>
        </tr>
        </thead>
        <tbody>
        {{#students}}
            <tr>
                <td class="tg-0lax">{{name}}</td>
                <td class="tg-0lax">{{num}}</td>
                <td class="tg-0lax">{{st_id}}</td>
                <td class="tg-0lax">{{st_memo}}</td>
                <td class="tg-0lax"><a onclick="run_pes('{{st_id}}')">📚 PRS</a></td>
            </tr>
        {{/students}}
        </tbody>
    </table>
    <small>*PRS: Point Revoke Service</small>
{{/if}}
{{#if error}}
    <h1>Error occurred.</h1>
    <p>
        {{error}}
    </p>
{{/if}}
<script>
    const run_pes = (student_id) => {
        window.location.href = `/query/students/points?student_id=${student_id}`
    }
</script>