{{#if students}}
    <table class="tg">
        <thead>
        <tr>
            <th class="tg-0lax">Name</th>
            <th class="tg-0lax">No.</th>
            <th class="tg-0lax">Account No.</th>
            <th class="tg-0lax">Remarks</th>
            <th class="tg-0lax">Individual PRS</th>
        </tr>
        </thead>
        <tbody>
        {{#students}}
            <tr>
                <td class="tg-0lax">{{name}}</td>
                <td class="tg-0lax">{{num}}</td>
                <td class="tg-0lax">{{st_id}}</td>
                <td class="tg-0lax">{{st_memo}}</td>
                <td class="tg-0lax"><a onclick="run_pes('{{st_id}}')">📚 PRS</a></td>
            </tr>
        {{/students}}
        </tbody>
    </table>
    <small>*PRS: Point Revoke System</small>
{{/if}}
{{#if error}}
    <h1>Error occurred.</h1>
    <p>
        {{error}}
    </p>
{{/if}}
<script>
    const run_pes = (student_id) => {
        window.location.href = `/query/students/points?student_id=${student_id}`
    }
</script>
